<footer class="footer">
  <span>{{ site.title }}</span>
  <nav>
    <a href="{{ locale.path | relative_url }}">{{ t.home }}</a>
    {% assign privacy_path = locale.path | append: 'privacy/' %}
    <a href="{{ privacy_path | relative_url }}">{{ t.privacy }}</a>
    {% assign kinds = 'support,legal' | split: ',' %}
    {% for kind in kinds %}
    {% assign path = locale.path | append: kind | append: '/' %}
    <a href="{{ path | relative_url }}">{{ site.data.information[page.lang][kind].title }}</a>
    {% endfor %}
  </nav>
</footer>
